:root {
  --ff-primary: Heebo, sans-serif;
  --ff-secondary: Bungee, cursive;
  --ff-accent: Bungee Shade, cursive;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with and responsive*/
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  /* for demo purposes only */
  padding: 2rem 0;
}

.container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.stackeds {
  display: grid;
}

.stackeds > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.4rem;
}

.card {
  /* border: 3px solid hotpink; */
  aspect-ratio: 1 / 1.5; /* defines the heigth btw img and content in the card*/
}

.card__content {
  background-color: white;
  align-self: end; /* push the content to the end of teh stack, on the grid*/
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

.card__title {
  font-size: 1.5rem;
  line-height: 1.1;
  color: firebrick;
}

.card__price {
  font-size: 1.75rem;
}

.card__img {
  aspect-ratio: 1 / 1; /* defines same width and hight for the img, needs to have a width */
  width: 100%;
  object-fit: cover;
}

@media (min-width: 60em) {
  /* feature works just on big screens*/
  .card__img {
    aspect-ratio: 1 / 1.25;
  }

  .card--feature {
    grid-row: span 2;
    grid-column: span 2;
  }

  .card--feature .card__img {
    aspect-ratio: 1 / 1;
  }

  .card--feature .card__title {
    font-size: 1.75rem;
  }
}
